body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#basic > div.ant-row.ant-form-item.ant-form-item-with-help.ant-form-item-has-error > div.ant-col.ant-form-item-control > div.ant-form-item-control-input > div > span > span > span > div > div {
  height: 30px;
}

body::-webkit-scrollbar {
  width: 5px;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(97, 97, 97);
  border-radius: 5px;
}

.content {
  padding: 1px;
  min-height: calc(100vh - 134px);
  /* background: linear-gradient(90deg, #b9deed, #f0f2f5); */
  background: url('./assets/bg.jpg') no-repeat center;
  background-size: cover;
}

.w-25 {
  width: 25%;
}

.text-center {
  text-align: center;
}

.spin.spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}