.flex-row {
    display: flex;
    border-top: 1px solid black;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.flex-row:hover {
    cursor: pointer;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 1rem 0 rgba(41, 39, 39, 0.2);
}

.flex-row:last-child {
    border-bottom: 1px solid black;
}